.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}
.blog_text {
  text-align: center;
}
.sample-slider [class^="swiper-button-"]::after {
  font-size: 30px;
}
.sample-slider {
  width: 70%;
}
.blog_text {
  font-family: var(--font-family-2);
  font-weight: 300;
  letter-spacing: 5px;
}
.sample-slider img {
  width: 100%;
}
.small-container {
  max-width: 300px;
  margin: 0 auto;
}
.container-box {
  position: relative;
}
.container-box .arrow {
  position: absolute;
  top: 50%;
  margin-top: -5px;
}
.container-box .arrow.arrow-left {
  left: 0;
}
.container-box .arrow.arrow-right {
  right: 0;
}
.swiper-button-next {
  right: var(--swiper-navigation-sides-offset, 10px);
  left: 85rem;
}
.swiper-button-prev {
  left: var(--swiper-navigation-sides-offset, 10px);
  left: 23rem;
}
.testmonial {
  margin-top: 50px;
  position: relative;
  max-width: 700px;
  width: 100%;
  overflow: hidden;
}

@media screen and (max-width: 1050px) {
  .container-box {
    position: relative;
    margin-bottom: 45px;
  }
}
